.overlay{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(245, 86, 86, 0.65) 0%, rgba(245, 240, 240, 0) 100%);
}

.home{
  margin-top: 30vh;
}

.firstButton{
  border-radius: 5px;
  box-shadow: none;
}

.firstButton:disabled {
  background-color: #21464f;
  color: #b84a26;
}