html, body{
    margin: 5px;
    padding: 0;
    text-align: center;
}

.form{
    margin: 10px 5px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*justify-items: center;*/
}